/********************************** SECCION BOOTSTRAP******************************/

.background{
    background-image: url("/MULTIMEDIA/tilcaratextura2.jpg") ;
    
}
/* INDEX */

*
{ 
    padding:10px;
    margin:0;
}
.header h1{
    padding-top: 0.5rem;
}
.imgturismo{
    padding-left: 15px;
    grid-template-rows: 20rem;

}
