/* INDEX */

*{ 
    padding:0;
    margin:0;

}

body
{   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-image: url("/MULTIMEDIA/tilcaratextura2.jpg") ;
}

header{
display: grid;
grid-template-columns: repeat(12,1fr);
grid-template-rows: 5rem 8rem ;

}

nav{
grid-column: 4/10 ;

}

.ulnav{  
display: flex;
width: 100%;
height: 100%;
list-style: none;
justify-content: space-around;

}

.ulnav li{
align-self: flex-end;
padding-bottom: 1.5rem;

}

.ulnav li a{
    color:black
}

.ulnav li a:hover{
    color:white;
}

.Titulo__index{
    grid-column: 4/10;
    grid-row: 2/3;
    justify-self: center; 
    padding-top: 2rem;  
}
.Titulo__index h1{
    font-size:2.5rem;
}

.Titulo__index h1 span{
    font-weight: 100;
    color:antiquewhite;
}


.Parrafo1 {
    display:flex; 

}

.Parrafo1 div p{
    font-size: large;
    font-weight: 100;
    padding: 10px;

}

.imagytex{
display: grid;
grid-auto-rows: 20rem;
padding: 15px; 
}

.img1{
    grid-column: 1/4;
    border:5px solid black;

}
.img2{
    grid-column: 4/8;
    border:5px solid black;
}
.img3{
    grid-column: 8/12;
    border: 5px solid black;
}

.imagytex div img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.parrafo22{

    font-size: large;
    font-weight: 100;
    padding: 10px;
}

li {
    display: inline;

}


.Titulo__index2 {
text-align: center;
padding: 30px 30px 30px 30px;

}

.imagenes__turismo { 

    padding: 10px;

}
.imagenes__turismo div{
  display: flex;
  justify-content: space-around;
  
}

.imagenes__turismo div div img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: 5px solid black;
}
.parrafo3__index{
    
    font-size: large;
    font-weight: 100;
    padding: 20px;
    text-align: justify;
      

}

.img__footer{
    width: 30px ; 
    height: 30px ;

}


.footer__redes{
    
    position: fixed; 
    bottom: 3px;
    right: 10px;
    
    
}

/* GALERIA */

.Titulo__galeria{
    grid-column: 4/10;
    grid-row: 2/3;
    justify-self: center; 
    padding-top: 2rem;  
}

.Titulo__galeria h1{
    font-size:2.5rem;
}    

.secciongaleria {

}

.imgaleria {
   display:grid;
   grid-template-columns: repeat(3,1fr);
   grid-template-rows: 15rem 15rem 15rem;
   padding: 10px;
   column-gap: 5px;
   row-gap: 5px;
   
}
.imgaleria div img{
    width: 100%;
    height: 100%;
    object-fit:cover ;
   
}


/*  VIDEOS */

.TituloVideos{
text-align: center;

}


.Div_videos{
 display: inline-block;
 margin-left: 100px;
 padding-top: 50px;
 

}

.Videos__iframe{
    
    margin: 20px;
    padding: left 50px;
    border-radius: 15px;
}

/* COMIDAS  */

.TituloComidas{
   margin: 20px;
   text-align: center;
   
}

.img_comidas{
    
width: 300px;
height: 300px;
border-radius: 8px;
border: 7px solid black;
    

}

.ulcomidas{
display: inline-block;
margin: 50px ;
position: relative;
right: -30px;



}

                                 /*   CONTACTOS   */

.ContactosTitulo{
    
    text-align: center;

}                                 

form{
background-color: darkgoldenrod;
padding: 10px;
border-radius: 5px;
margin: 0px ;
width: 200px;
height: 300px;
text-align: center;

}

